modules/petals-bc-soap/src/main/resources/SOAPextensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://petals.ow2.org/components/soap/version-4"
	xmlns:petalsCDK="http://petals.ow2.org/components/extensions/version-5"
	xmlns:soap="http://petals.ow2.org/components/soap/version-4"
	elementFormDefault="qualified">
	<xs:import namespace="http://petals.ow2.org/components/extensions/version-5"
		schemaLocation="CDKextensions.xsd" />
		
	<!-- Component elements -->
	<xs:element name="http-port" type="petalsCDK:settableint" default="8084">
		<xs:annotation>
			<xs:documentation>Port of the embedded Jetty HTTP server</xs:documentation>
			<xs:documentation xml:lang="fr">Port du serveur HTTP Jetty embarqué</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="http-host" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Local Hostname to be used, can be hostname or host IP address</xs:documentation>
			<xs:documentation xml:lang="fr">Nom de l'hote local ou addresse IP</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="http-service-list" type="petalsCDK:settableboolean" default="true">
		<xs:annotation>
			<xs:documentation>Display the available Web Service list</xs:documentation>
			<xs:documentation xml:lang="fr">Affiche la liste des Web Services disponibles</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-service-context" type="petalsCDK:settablestring"	default="petals">
		<xs:annotation>
			<xs:documentation>The URL context</xs:documentation>
			<xs:documentation xml:lang="fr">L'URL du contexte</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-service-mapping" type="petalsCDK:settablestring" default="services">
		<xs:annotation>
			<xs:documentation>The URL service mapping</xs:documentation>
			<xs:documentation xml:lang="fr">L'URL des services</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-thread-pool-size-max" type="petalsCDK:settableint" default="255">
		<xs:annotation>
			<xs:documentation>The maximum size of the HTTP thread pool</xs:documentation>
			<xs:documentation xml:lang="fr">Taille maximum du pool de threads HTTP</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-thread-pool-size-min" type="petalsCDK:settableint" default="2">
		<xs:annotation>
			<xs:documentation>The minimum size of the HTTP thread pool</xs:documentation>
			<xs:documentation xml:lang="fr">Taille minimum du pool de thread HTTP</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-acceptors" type="petalsCDK:settableint" default="4">
		<xs:annotation>
			<xs:documentation>Number of HTTP acceptors</xs:documentation>
			<xs:documentation xml:lang="fr">Nombre d'accepteurs HTTP</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- JMS transport layer extensions -->	
	<xs:element name="java-naming-factory-initial" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>The initial context factory class needed to access the JNDI server where the JMS connection factory can be found.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="java-naming-provider-url" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>The JNDI provider URL where the JMS connection factory can be found.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="jms-connection-factory-jndiname" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Name of the default JMS connection factory in the JNDI.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- HTTPS extensions -->		
	<xs:element name="https-enabled" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Define if HTTPS is enabled</xs:documentation>
			<xs:documentation xml:lang="fr">Définie si HTTPS est activé</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="https-port" type="xs:int" default="8083">
		<xs:annotation>
			<xs:documentation>HTTPS port</xs:documentation>
			<xs:documentation xml:lang="fr">Port HTTPS</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:element name="https-keystore-type" type="soap:KeystoreType" default="JKS">
		<xs:annotation>
			<xs:documentation>Type of the keystore (JKS / PKCS12)</xs:documentation>
			<xs:documentation xml:lang="fr">Type du keystore (JKS / PKCS12)</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:element name="https-key-password" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Password of the key</xs:documentation>
			<xs:documentation xml:lang="fr">Mot de passe de la clé</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:element name="https-truststore-type" type="soap:KeystoreType" default="JKS">
		<xs:annotation>
			<xs:documentation>Type of the truststore (JKS / PKCS12)</xs:documentation>
			<xs:documentation xml:lang="fr">Type du truststore (JKS / PKCS12)</xs:documentation>
		</xs:annotation>
	</xs:element>	
	
	<!-- Service / Component elements -->
	<xs:element name="https-keystore-file" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Absolute path of the keystore file</xs:documentation>
			<xs:documentation xml:lang="fr">Chemin absolu du fichier keystore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="https-keystore-password" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Password of the keystore</xs:documentation>
			<xs:documentation xml:lang="fr">Mot de passe du keystore</xs:documentation>
		</xs:annotation>
	</xs:element>		
	<xs:element name="https-truststore-file" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Absolute path of the truststore file</xs:documentation>
			<xs:documentation xml:lang="fr">Chemin absolu du fichier truststore</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="https-truststore-password" type="petalsCDK:settablestring">
		<xs:annotation>
			<xs:documentation>Password of the trustore</xs:documentation>
			<xs:documentation xml:lang="fr">Mot de passe du truststore</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- Service elements -->
	<xs:element name="address" type="xs:string">
		<xs:annotation>
			<xs:documentation>Address of the external Web Service (provides mode) or Web Service name to expose (consumes mode)</xs:documentation>
			<xs:documentation xml:lang="fr">Adresse du Web Service externe (mode provides) ou nom du Web Service à exposer (mode consumes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="service-name" type="xs:string">
		<xs:annotation>
			<xs:documentation>Web Service name to expose (consumes mode)</xs:documentation>
			<xs:documentation xml:lang="fr">Nom du Web Service à exposer (mode consumes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wsa-to" type="xs:string">
		<xs:annotation>
			<xs:documentation>Address of the external Web Service (provides mode)</xs:documentation>
			<xs:documentation xml:lang="fr">Adresse du Web Service externe (mode provides)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wsa-replyto" type="xs:string">
		<xs:annotation>
			<xs:documentation>Address of the external Web Service (provides mode) or Web Service name to reply (consumes mode)</xs:documentation>
			<xs:documentation xml:lang="fr">Adresse du Web Service externe (mode provides) ou nom du Web Service auquel répondre (mode consumes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wsa-from" type="xs:string">
		<xs:annotation>
			<xs:documentation>Address of the external Web Service (provides mode) or Web Service name wich invoke (consumes mode)</xs:documentation>
			<xs:documentation xml:lang="fr">Adresse du Web Service externe (mode provides) ou nom du Web Service qui invoque (mode consumes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wsa-faultto" type="xs:string">
		<xs:annotation>
			<xs:documentation>Address of the external Web Service (provides mode) or Web Service name to reply when a fault occurs (consumes mode)</xs:documentation>
			<xs:documentation xml:lang="fr">Adresse du Web Service externe (mode provides) ou nom du Web Service auquel répondre lorsqu'une faute a été retournée (mode consumes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="soap-version" type="soap:SoapVersion"
		default="1.1">
		<xs:annotation>
			<xs:documentation>The SOAP version to be used</xs:documentation>
			<xs:documentation xml:lang="fr">Version de SOAP utilisée</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="soap-action" type="xs:string">
		<xs:annotation>
			<xs:documentation>The SOAP action QName to be used for the Web Service, will override the JBI message operation</xs:documentation>
			<xs:documentation xml:lang="fr">La SOAP action a utiliser pour l'appel du Web Service, surcharge l'operation du message JBI</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="chunked-mode" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Activate the HTTP chunked mode on Web Service calls</xs:documentation>
			<xs:documentation xml:lang="fr">Activer le mode chunk HTTP lors de l'appel de Web Service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cleanup-transport" type="xs:boolean"
		default="true">
		<xs:annotation>
			<xs:documentation>Cleanup the HTTP transport layer after each Web Service call in order to avoid</xs:documentation>
			<xs:documentation xml:lang="fr">Nettoyer le transport HTTP après chaque appel de Web Service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="enable-http-transport" type="xs:boolean" default="true">
		<xs:annotation>
			<xs:documentation>Enable the HTTP transport layer to send or receive SOAP messages</xs:documentation>
			<xs:documentation xml:lang="fr">Autorise le transport HTTP pour recevoir ou envoyer les messages SOAP</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="enable-https-transport" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Enable the HTTPS transport layer to send or receive SOAP messages</xs:documentation>
			<xs:documentation xml:lang="fr">Autorise le transport HTTPS pour recevoir ou envoyer les messages SOAP</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:element name="enable-jms-transport" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Enable the JMS transport layer to send or receive SOAP messages</xs:documentation>
			<xs:documentation xml:lang="fr">Autorise le transport JMS pour recevoir ou envoyer les messages SOAP</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="enable-wsa" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Add the WSA headers</xs:documentation>
			<xs:documentation xml:lang="fr">Ajoute les en-têtes WSA</xs:documentation>			
		</xs:annotation>
	</xs:element>
	<xs:element name="enable-compatibility-for" type="soap:Compatibility">
		<xs:annotation>
			<xs:documentation>Enable the compatibility for a specified webservice stack</xs:documentation>
			<xs:documentation xml:lang="fr">Active la compatibilité avec une pile de webservice spécifiée</xs:documentation>			
		</xs:annotation>
	</xs:element>	
	<xs:element name="modules" type="xs:string">
		<xs:annotation>
			<xs:documentation>A list of Axis2 modules names to engage (separated by comas)</xs:documentation>
			<xs:documentation xml:lang="fr">Une liste de noms de modules Axis2 à engager, séparés par des virgules</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="service-parameters" type="xs:string">
		<xs:annotation>
			<xs:documentation>Additional XML configuration for created Axis2 service as CDATA, same as the Axis2 services.xml file one</xs:documentation>
			<xs:documentation xml:lang="fr">Configuration XML additionnelle pour le service créé sous forme de CDATA, identique au fichier services.xml d'Axis2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proxy-host" type="xs:string">
		<xs:annotation>
			<xs:documentation>Proxy host name (proxy mode disabled if empty)</xs:documentation>
			<xs:documentation xml:lang="fr">Nom d'hôte du proxy (mode proxy désactivé si laissé vide)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proxy-port" type="xs:int">
		<xs:annotation>
			<xs:documentation>Proxy host port</xs:documentation>
			<xs:documentation xml:lang="fr">Numéro de port du proxy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proxy-user" type="xs:string">
		<xs:annotation>
			<xs:documentation>Username for the proxy</xs:documentation>
			<xs:documentation xml:lang="fr">Nom d'utilisateur pour le proxy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proxy-password" type="xs:string">
		<xs:annotation>
			<xs:documentation>Password for the proxy</xs:documentation>
			<xs:documentation xml:lang="fr">Mode de passe pour le proxy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proxy-domain" type="xs:string">
		<xs:annotation>
			<xs:documentation>Proxy domain</xs:documentation>
			<xs:documentation xml:lang="fr">Domaine du proxy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="headers-filter" type="xs:string">
		<xs:annotation>
			<xs:documentation>Headers filters as a CSV data. The JBI property values which match to the filter will be injected in the outgoing SOAP header</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="inject-headers" type="xs:string">
		<xs:annotation>
			<xs:documentation>Inject the JBI headers (javax.jbi.messaging.protocol.headers property) into the outgoing SOAP message (in SOAP Header)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="headers-to-inject" type="xs:string">
		<xs:annotation>
			<xs:documentation>Set of XML headers (CDATA) to be injected into the outgoing SOAP message (in SOAP Header)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-basic-auth-username" type="xs:string">
		<xs:annotation>
			<xs:documentation>Username for Basic Authentication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="http-basic-auth-password" type="xs:string">
		<xs:annotation>
			<xs:documentation>Password for Basic Authentication</xs:documentation>
		</xs:annotation>
	</xs:element>	
	<xs:element name="http-services-redirection" type="xs:string">
		<xs:annotation>
			<xs:documentation>HTTP redirection alias(es) for Consumes web service (comma-separated).</xs:documentation>
		</xs:annotation>
	</xs:element>	
	
	<!-- TYPES -->
	<xs:simpleType name="SoapVersion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.1" />
			<xs:enumeration value="1.2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Compatibility">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AXIS1">
				<xs:annotation>
					<xs:documentation>Enable compatibility for Axis 1 webservice stack (multiref + SOAP Fault only for provider mode)</xs:documentation>
					<xs:documentation xml:lang="fr">Activer la compatibilité pour une pile de webservices Axis 1 (multiref + SOAP Fault seulement en mode provide)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KeystoreType">
		<xs:restriction base="petalsCDK:settablestring">
			<xs:enumeration value="JKS">
				<xs:annotation>
					<xs:documentation>JKS keystore/truststore</xs:documentation>
					<xs:documentation xml:lang="fr">keystore/truststore JKS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PKCS12">
				<xs:annotation>
					<xs:documentation>PKCS12 keystore/truststore</xs:documentation>
					<xs:documentation xml:lang="fr">keystore/truststore PKCS12</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
		</xs:restriction>
	</xs:simpleType>	
</xs:schema>