forks/wsdm-monitoring/esb-monitoring/data-collector/src/test/resources/rawReport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.semeuse.org/services/rawReport/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns4="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.semeuse.org/services/rawReport/" xmlns:data="http://www.semeuse.org/data/rawReport"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2"
	xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="rawReport">

	<wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2"
		location="imports/bw-2.wsdl" />
	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rpw-2"
		location="imports/rpw-2.wsdl" />
	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2"
		location="imports/rw-2.wsdl" />

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.semeuse.org/services/rawReport">
			<xsd:import namespace="http://www.semeuse.org/data/rawReport"
				schemaLocation="imports/rawreport/rawReport.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- message 4 notif -->
	<wsdl:message name="RawReportEvent">
		<wsdl:part element="data:rawReport" name="rawReport" />
	</wsdl:message>



	<wsdl:message name="addNewReportListRequest">
		<wsdl:part name="addNewReportListRequest" element="data:reportList"></wsdl:part>
	</wsdl:message>

	<wsdl:portType xmlns:ns8="http://docs.oasis-open.org/wsrf/"
		name="RawReportServiceInterface">

		<wsdl:operation name="GetResourceProperty">
			<wsdl:input message="wsrf-rpw:GetResourcePropertyRequest"
				name="GetResourcePropertyRequest"
				wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2.wsdl/GetResourceProperty/GetResourcePropertyRequest" />
			<wsdl:output message="wsrf-rpw:GetResourcePropertyResponse"
				name="GetResourcePropertyResponse"
				wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2.wsdl/GetResourceProperty/GetResourcePropertyResponse" />

			<wsdl:fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault"
				wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2.wsdl/GetResourceProperty/ResourceUnknownFault" />

			<wsdl:fault xmlns:ns10="http://schemas.xmlsoap.org/ws/2004/08/addressing"
				xmlns:ns9="http://docs.oasis-open.org/wsrf/rpw-2" message="ns9:InvalidResourcePropertyQNameFault"
				name="InvalidResourcePropertyQNameFault"
				ns10:Action="http://docs.oasis-open.org/wsrf/rpw-2.wsdl/GetResourceProperty/InvalidResourcePropertyQNameFault" />
		</wsdl:operation>

		<wsdl:operation name="Subscribe">
			<wsdl:input message="wsntw:SubscribeRequest" />
			<wsdl:output message="wsntw:SubscribeResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
			<wsdl:fault name="InvalidFilterFault" message="wsntw:InvalidFilterFault" />
			<wsdl:fault name="TopicExpressionDialectUnknownFault"
				message="wsntw:TopicExpressionDialectUnknownFault" />
			<wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" />
			<wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" />
			<wsdl:fault name="InvalidProducerPropertiesExpressionFault"
				message="wsntw:InvalidProducerPropertiesExpressionFault" />
			<wsdl:fault name="InvalidMessageContentExpressionFault"
				message="wsntw:InvalidMessageContentExpressionFault" />
			<wsdl:fault name="UnacceptableInitialTerminationTimeFault"
				message="wsntw:UnacceptableInitialTerminationTimeFault" />
			<wsdl:fault name="UnrecognizedPolicyRequestFault" message="wsntw:UnrecognizedPolicyRequestFault" />
			<wsdl:fault name="UnsupportedPolicyRequestFault" message="wsntw:UnsupportedPolicyRequestFault" />
			<wsdl:fault name="NotifyMessageNotSupportedFault" message="wsntw:NotifyMessageNotSupportedFault" />
			<wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault" />
		</wsdl:operation>

		<wsdl:operation name="GetCurrentMessage">
			<wsdl:input message="wsntw:GetCurrentMessageRequest" />
			<wsdl:output message="wsntw:GetCurrentMessageResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
			<wsdl:fault name="TopicExpressionDialectUnknownFault"
				message="wsntw:TopicExpressionDialectUnknownFault" />
			<wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" />
			<wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" />
			<wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault" />
			<wsdl:fault name="MultipleTopicsSpecifiedFault" message="wsntw:MultipleTopicsSpecifiedFault" />
		</wsdl:operation>

		<wsdl:operation name="Unsubscribe">
			<wsdl:input name="UnsubscribeRequest" message="wsntw:UnsubscribeRequest" />
			<wsdl:output name="UnsubscribeResponse" message="wsntw:UnsubscribeResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
			<wsdl:fault name="UnableToDestroySubscriptionFault"
				message="wsntw:UnableToDestroySubscriptionFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="RawReportInterceptorMonitoringServiceInterface">
		<wsdl:operation name="addNewReportList">
			<wsdl:input message="tns:addNewReportListRequest"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="InterceptorBinding"
		type="tns:RawReportInterceptorMonitoringServiceInterface">

		<ns4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addNewReportList">
			<ns4:operation soapAction="http://petals.ow2.org/wsdm/addNewReportList" />
			<wsdl:input>
				<ns4:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RawReportBinding" type="tns:RawReportServiceInterface">
		<ns4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetResourceProperty">
			<ns4:operation soapAction="http://petals.ow2.org/wsdm/GetResourceProperty" />
			<wsdl:input name="GetResourcePropertyRequest">
				<ns4:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetResourcePropertyResponse">
				<ns4:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<ns4:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidResourcePropertyQNameFault">
				<ns4:fault use="literal" name="InvalidResourcePropertyQNameFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<ns4:operation soapAction="http://petals.ow2.org/wsdm/Subscribe" />
			<wsdl:input>
				<ns4:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<ns4:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<ns4:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidFilterFault">
				<ns4:fault use="literal" name="InvalidFilterFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<ns4:fault use="literal" name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<ns4:fault use="literal" name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<ns4:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidProducerPropertiesExpressionFault">
				<ns4:fault use="literal" name="InvalidProducerPropertiesExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidMessageContentExpressionFault">
				<ns4:fault use="literal" name="InvalidMessageContentExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="UnacceptableInitialTerminationTimeFault">
				<ns4:fault use="literal" name="UnacceptableInitialTerminationTimeFault" />
			</wsdl:fault>
			<wsdl:fault name="UnrecognizedPolicyRequestFault">
				<ns4:fault use="literal" name="UnrecognizedPolicyRequestFault" />
			</wsdl:fault>
			<wsdl:fault name="UnsupportedPolicyRequestFault">
				<ns4:fault use="literal" name="UnsupportedPolicyRequestFault" />
			</wsdl:fault>
			<wsdl:fault name="NotifyMessageNotSupportedFault">
				<ns4:fault use="literal" name="NotifyMessageNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="SubscribeCreationFailedFault">
				<ns4:fault use="literal" name="SubscribeCreationFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentMessage">
			<ns4:operation soapAction="http://petals.ow2.org/wsdm/GetCurrentMessage" />
			<wsdl:input>
				<ns4:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<ns4:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<ns4:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<ns4:fault use="literal" name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<ns4:fault use="literal" name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<ns4:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="NoCurrentMessageOnTopicFault">
				<ns4:fault use="literal" name="NoCurrentMessageOnTopicFault" />
			</wsdl:fault>
			<wsdl:fault name="MultipleTopicsSpecifiedFault">
				<ns4:fault use="literal" name="MultipleTopicsSpecifiedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Unsubscribe">
			<ns4:operation soapAction="http://petals.ow2.org/wsdm/Unsubscribe" />
			<wsdl:input name="UnsubscribeRequest">
				<ns4:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UnsubscribeResponse">
				<ns4:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<ns4:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="UnableToDestroySubscriptionFault">
				<ns4:fault use="literal" name="UnableToDestroySubscriptionFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>



</wsdl:definitions>
