forks/wsdm-monitoring/esb-monitoring/base-monitoring/src/test/resources/wsdl/stockquote.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="stockquote" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.webserviceX.NET/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
			<s:element name="GetQuote">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="symbol"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetQuoteResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetQuoteResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string" />
		</s:schema>
	</wsdl:types>

	<wsdl:message name="GetQuoteSoapIn">
		<wsdl:part name="parameters" element="tns:GetQuote" />
	</wsdl:message>
	<wsdl:message name="GetQuoteSoapOut">
		<wsdl:part name="parameters" element="tns:GetQuoteResponse" />
	</wsdl:message>

	<wsdl:portType name="StockQuoteSoap">
		<wsdl:operation name="GetQuote">
			<wsdl:input message="tns:GetQuoteSoapIn" />
			<wsdl:output message="tns:GetQuoteSoapOut" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="StockQuoteSoap" type="tns:StockQuoteSoap">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetQuote">

			<soap:operation
				soapAction="http://www.webserviceX.NET/GetQuote" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="StockQuote">
		<wsdl:port name="StockQuoteSoap1" binding="tns:StockQuoteSoap">
			<soap:address location="http://localhost:9001/stockquote1" />
		</wsdl:port>
		<wsdl:port name="StockQuoteSoap2" binding="tns:StockQuoteSoap">
			<soap:address location="http://localhost:9001/stockquote2" />
		</wsdl:port>
		<wsdl:port name="StockQuoteSoap3" binding="tns:StockQuoteSoap">
			<soap:address location="http://localhost:9001/stockquote3" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>