forks/wsdm-monitoring/esb-kernel/soap-transporter-impl/src/main/resources/transporter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://petals.ow2.org/transporter/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:exch="http://org.ow2.petals/exchange" name="transporter"
	targetNamespace="http://petals.ow2.org/transporter/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://petals.ow2.org/transporter/">

			<xsd:import namespace="http://org.ow2.petals/exchange"
				schemaLocation="schema/exchange.xsd">
			</xsd:import>
			<xsd:element name="endpointName" type="xsd:string"></xsd:element>
			<xsd:element name="exchange" type="exch:ExchangeType"></xsd:element>
			<xsd:element name="pullWithId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uuid" type="xsd:string" />
						<xsd:element ref="tns:endpointName" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="pushRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="endpointNodeName" type="xsd:string" />
						<xsd:element ref="tns:exchange" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="transportException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="errorMsg" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="pullRequest">
		<wsdl:part element="tns:endpointName" name="parameters" />
	</wsdl:message>
	<wsdl:message name="pullWithIdRequest">
		<wsdl:part element="tns:pullWithId" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pullResponse">
		<wsdl:part element="tns:exchange" name="parameters" />
	</wsdl:message>
	<wsdl:message name="pushRequest">
		<wsdl:part element="tns:pushRequest" name="parameters" ></wsdl:part>
	</wsdl:message>
	<wsdl:message name="transportException">
		<wsdl:part element="tns:transportException" name="parameters" ></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="transporter">
		<wsdl:operation name="pull">
			<wsdl:input message="tns:pullRequest" />
			<wsdl:output message="tns:pullResponse" />
			<wsdl:fault name="transportException" message="tns:transportException" />
		</wsdl:operation>
		<wsdl:operation name="pullWithId">
			<wsdl:input message="tns:pullWithIdRequest"></wsdl:input>
			<wsdl:output message="tns:pullResponse"></wsdl:output>
			<wsdl:fault name="transportException" message="tns:transportException" />
		</wsdl:operation>
		<wsdl:operation name="push">
			<wsdl:input message="tns:pushRequest"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="transporterBindingSOAP"
		type="tns:transporter">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="pull">

			<soap:operation
				soapAction="http://petals.ow2.org/transporter/pull" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="transportException">
				<soap:fault use="literal" name="transportException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="pullWithId">

			<soap:operation
				soapAction="http://petals.ow2.org/transporter/pullWithId" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="transportException">
				<soap:fault use="literal" name="transportException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="push">

			<soap:operation
				soapAction="http://petals.ow2.org/transporter/push" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="transporterService">

        <wsdl:port name="TransporterImplPort"
        	binding="tns:transporterBindingSOAP">
        		<soap:address location="unknown"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>
