modules/petals-generator-bpel/src/test/resources/army/component.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://petals.ow2.org/petals-bc-mail" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="component"
	targetNamespace="http://petals.ow2.org/petals-bc-mail">
	<!-- ======== TYPES ========== -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://petals.ow2.org/petals-bc-mail"
			elementFormDefault="qualified">
			<xsd:complexType name="MailType">
				<xsd:sequence>
					<xsd:element name="from" type="xsd:string" />
					<xsd:element name="reply" type="xsd:string"  minOccurs="0"/>
					<xsd:element name="to" type="xsd:string" />
					<xsd:element name="subject" type="xsd:string" />
					<xsd:element name="body" type="xsd:anySimpleType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MissingElementType">
				<xsd:sequence>
					<xsd:element name="element" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ioFaultType">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="mail" type="tns:MailType" />
			<xsd:element name="ioFault" type="tns:ioFaultType" />
			<xsd:element name="missingElementFault" type="tns:MissingElementType" />
		</xsd:schema>
	</wsdl:types>

	<!-- ======== message ========== -->
	<wsdl:message name="SendMailGenericRequest">
		<wsdl:part element="tns:mail" name="mail" />
	</wsdl:message>
	<wsdl:message name="send_faultMsg1">
		<wsdl:part name="missingElementFault" element="tns:missingElementFault" />
	</wsdl:message>
	<wsdl:message name="send_faultMsg">
		<wsdl:part name="ioFault" element="tns:ioFault" />
	</wsdl:message>

	<!-- ======== port TYPES ========== -->
	<wsdl:message name="SendMailGenericFault">
		<wsdl:part name="parameters" element="tns:SendMailGenericFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SendMailGenericFault1">
		<wsdl:part name="parameters" element="tns:SendMailGenericFault1"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SendMailGeneric">
		<wsdl:operation name="SendMailGeneric">
			<wsdl:input message="tns:SendMailGenericRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ======== BINDING ========== -->
	<wsdl:binding name="SendMailGenericBinding" type="tns:SendMailGeneric">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendMailGeneric">
			<soap:operation
				soapAction="http://petals.ow2.org/petals-bc-mail/SendMailGeneric" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- ======== SERVICE ========== -->
	<wsdl:service name="SendMailGenericService">
		<wsdl:port binding="tns:SendMailGenericBinding" name="SendMailGenericEndpoint">
			<soap:address location="SendMailGenericEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
